@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
	background: linear-gradient(-45deg, #000000, #1a1a1a,#333333, #595959);
	background-size: 15000% 15000%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-10px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(5px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-8px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(8px, 0, 0);
    }
  }

.lol {
    font-family: 'Roboto';
    color: white;
    text-align:initial;
    font-size: 40px;
    font-weight: 100;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: -35px;
    animation: shake 15s ease infinite;

    
}
.lol2 {
    font-family: 'Roboto';
    color: white;
    text-align:initial;
    font-weight: 600;
    font-size: 25px;
    margin-left: 30px;
    margin-bottom: -20px;
    animation: shake 15s ease infinite;
}

.lol3 {
  font-family: 'Roboto';
  color: white;
  text-align:initial;
  position:absolute;
  font-weight: 100;
  top: 9%;
  font-size: 25px;
  left: 15%;
  margin-top: -50px;
}

.bar {
  display:block;
  position:absolute;
  top:7%;
  left:15%;
  border-bottom:1px solid white;
  width:0%;
  text-align:center;
  animation: line 10s ease-in-out infinite;
}

@keyframes line {

  0% {
    left:16.5%;
    width:0%;
  }
  
  25%{
    left:14%;
    width:5.5%;
  }

  50%{
    left:16.5%;
    width:0%;
  }

  75%{
    left:14%;
    width:5.5%;
  }

  100%{
    left:16.5%;
    width:0%;
  }
}

